body {  
    font-family: georgia, "Times New Roman", times , serif;
	text-align: center;
    color: white;
    background-color: black; 

}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:  center;
    color: brown  ;

}
